apiVersion: v1
kind: DeploymentConfig
metadata:
  annotations:
    openshift.io/generated-by: OpenShiftNewApp
  creationTimestamp: null
  labels:
    app: openshift-wordpress
  name: openshift-wordpress
spec:
  replicas: 1
  selector:
    app: openshift-wordpress
    deploymentconfig: openshift-wordpress
  strategy:
    resources: {}
    rollingParams:
      intervalSeconds: 1
      maxSurge: 25%
      maxUnavailable: 25%
      timeoutSeconds: 600
      updatePeriodSeconds: 1
    type: Rolling
  template:
    metadata:
      annotations:
        openshift.io/generated-by: OpenShiftNewApp
      creationTimestamp: null
      labels:
        app: openshift-wordpress
        deploymentconfig: openshift-wordpress
    spec:
      output:
        to:
          kind: ImageStreamTag
          name: openshift-wordpress:latest
      resources: {}
      source:
        git:
          ref: master
          uri: https://github.com/Eliseo247/openshift-wordpress.git
        type: Git
      strategy:
        dockerStrategy:
          from:
            kind: ImageStreamTag
            name: centos:7
        type: Docker
      containers:
      - image: openshift-wordpress
        imagePullPolicy: Always
        name: openshift-wordpress
        ports:
        - containerPort: 8080
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        volumeMounts:
        - mountPath: /opt/app-root/src
          name: wordpress-data
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
      - name: wordpress-data
        persistentVolumeClaim:
          claimName: wordpress-data
  triggers:
  - type: ConfigChange
  - imageChangeParams:
      automatic: true
      containerNames:
      - openshift-wordpress
      from:
        kind: ImageStreamTag
        name: openshift-wordpress:latest
    type: ImageChange
status: {}
